body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Cobre toda a tela */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
}

.header-image {
    width: 100%;
    height: 1900px; /* Define a altura da imagem */
    overflow: hidden; /* Esconde partes da imagem que excedem a área definida */
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorcer */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo semitransparente para melhor legibilidade */
    color: white;
    padding: 1rem;
    text-align: center;
}

section {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo semitransparente para melhor legibilidade */
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#contato {
    text-align: center;
}

.telefones {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 400px;
}

.telefones a {
    margin: 0;
    text-decoration: none;
    color: #333;
}

.telefones a:hover {
    text-decoration: underline;
}