body {
    font-family: 'Permanent Marker', sans-serif;
    margin: 0;
    padding: 0;

}

.header-image {
    width: 100%;
    height: 100%; /* Define a altura da imagem */
    overflow: hidden; /* Esconde partes da imagem que excedem a área definida */
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorcer */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo semitransparente para melhor legibilidade */
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-family: 'Permanent Marker', sans-serif; /* Aplica a nova fonte */
	background-color: #2c3e50;
    font-size: 2.5rem; /* Ajusta o tamanho da fonte */
    margin: 0;
	color: black;
	text-shadow: 2px 2px 0 #ff0000, -2px 2px 0 #ff0000, 2px -2px 0 #ff0000, -2px -2px 0 #ff0000; /* Adiciona a borda vermelha ao texto */
	background-image: url('images/h1back.gif'); /* Substitua 'your-gif.gif' pelo nome do seu GIF */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    padding: 0rem; /* Adiciona padding para melhorar a legibilidade */
    width: 100%; /* Garante que o fundo cubra toda a largura do h1 */
	height: 100%;
    margin: 0; /* Remove qualquer margem */
    display: inline-block; /* Mantém o texto dentro do fundo */
}

section {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo semitransparente para melhor legibilidade */
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#contato {
    text-align: center;
}

.telefones {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 400px;
}

.telefones a {
    margin: 0;
    text-decoration: none;
    color: #333;
}

.telefones a:hover {
    text-decoration: underline;
}

.bandas-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
    gap: 1rem;
}

.banda {
    text-align: center;
    margin: 1rem;
}

.banda img {
    width: 300px;
    height: 300px;
    border-radius: 0%;
}

.banda p {
    margin: 0.5rem 0 0;
    font-weight: bold;
}

.banda .descricao {
    font-size: 0.9rem;
    color: #800;
    margin-top: 0.5rem;
}

.social-media p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.social-icon {
    width: 24px;
    height: 24px;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-image {
        height: auto; /* Define a altura da imagem para dispositivos móveis */
    }
    
    section {
        margin: 1rem;
        padding: 0.5rem;
    }
	.header h1{
		width: 100%
	}

    .telefones {
        grid-template-columns: 1fr;
        gap: 0.25rem;
    }

    footer {
        padding: 0.5rem;
    }
	
	.banda img {
        width: 300px;
        height: 300px;
    }
	
	.bandas-grid {
        grid-template-columns: 1fr; /* Define uma coluna em dispositivos menores */
    }
}
